.App{

    text-align: center;

}

.form1{
    display: inline-block;
    width: 700px;
    height: 290px;
    border: 2px solid black;
    position: relative;
    right: 100px;
   

  }
  form label{
    display: inline-block;
    // width: 250px; 
  }
  form div{
    padding: 5px;
    margin: 5px;
    text-align: center;
    position: relative;
    left: 150px;
  
  }
  .label{
    width: 350px;
  }

  .registerform{
    position: relative;
    left: 150px;
  }
  .pic{
    width: 300px;
   height: 290px;
    position: relative;
    left: 200px;
    bottom: 100px;
  }
  .button1{
    background-color: lightcoral;
    color: white; 
  }

.form2{
 display: inline-block;
 border: 3px solid black;
 width: 600px;
 height:200px;
}
form label{
  display: inline-block;
 
}
form div{
padding: 3px;
margin: 10px;
position: relative;
right: 150px;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";






  



















.main{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#basic-nav-dropdown{
    color:white;
}
.mens{
    position: relative;
    left:500px;
    bottom: 300px;
    color: black;
    font-size: 4rem;
}

.mens::first-letter{

background-color: black;
color: red;
}

.womens{
    position: relative;
    left:500px;
    bottom: 300px;
    color: black;
    font-size: 4rem;
  }
  .womens::first-letter{

    background-color: black;
    color: rgb(220, 216, 216);
    }

    #cards{
        display: inline-flex;
        // justify-content:space-between;
        flex-direction: row;
       flex-wrap: wrap;
       padding: 20px;
       overflow: hidden;
       background-color: antiquewhite;
       width: 100%;
      }
    